@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
    --main-space: #252945;
    --invoice-bg: #070e3c;
    --main-form : #414776;
    --table-bg: #161b2b;
    --main-text: white;
    --secondary-text: #b2b3b8;
    --main-label: white;
    --dark-purple: #252945;
    --light-red: #ec5757;  
    --dark-red: #a12f2f;  
    --purple: #7c5dfa;
    --light-green: #33d69f;
    --dark-green: #13986c;
    --orange: #ff8f00;

    --aside-width: 8rem;
    --form-width: 50rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: var(--main-space);
}

body.light{
  --table-bg: #f9fafe;
  --main-space: #f3f8f8;
  --main-form : #e8e7e7;
  --main-text: #252945;
  --invoice-bg : white;
  --secondary-text: #6e6e71;
  --main-label: rgb(134, 134, 134);
}

button,
.button {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  margin-right: 8px;
  color: #fff;
  background: var(--purple);

  &.disabled{
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
    pointer-events: none;
  }

  &.small{
    padding: 8px 16px;
  }
}

.dark-purple {background-color: var(--dark-purple);}
.red {
  background-color: var(--light-red);
  &:hover { background-color: var(--dark-red);}
}
.purple {background-color: var(--purple);}
.green {
  background-color: var(--light-green);
  &:hover {background-color: var(--dark-green);}
}
.orange {background-color: var(--orange);}

// utility classes
.flex { display: flex; }
.flex-column { flex-direction: column; }
.container {
  width: 95%;
  padding: 40px 10px;
  max-width: 600px;
  margin: 0 auto;
  @media (min-width: 900px) {
    padding-top: 72px;
  }
}

.box{
  background-color: var(--invoice-bg);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.id{text-transform: uppercase; color: var(--main-text)}
/* Elements*/
a{
  color: inherit;
  text-decoration: none;
}

ul{ list-style: none;}

.label {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--main-label);
  margin-bottom: 0.5rem;
}

.input {
  padding: 1rem 1.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  outline: none;
  background: white;
  color: black;
  transition: 0.2s border ease-in-out;

  &:focus {
    border: 1px solid var(--purple);
  }

  &.disabled {
    pointer-events: none;
  }
}

.nav-link {
  text-decoration: none;
  color: initial;
}

// Status Button Styling
.status-button {
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
  }
  font-size: 1.2rem;
  margin-right: 30px;
  align-items: center;
  padding: 8px 30px;
  border-radius: 10px;
  display: flex;
}

.paid {
  &::before {
    background-color: var(--light-green);
  }
  color: var(--light-green);
  background-color: rgba(51, 214, 160, 0.1);
}

.pending {
  &::before {
    background-color: var(--orange);
  }
  color: var(--orange);
  background-color: rgba(255, 145, 0, 0.1);
}

.draft {
  &::before {
    background-color: #a5a9bb;
  }
  color: #a5a9bb;
  background-color: rgba(223, 227, 250, 0.4);
}

.skeleton {
  margin-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

//Transitions

.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}
.slide-enter-to {
  position: absolute;
  right: var(--aside-width);
}
.slide-enter-from {
  position: absolute;
  right: -100%;
}
.slide-leave-to {
  position: absolute;
  left: -100%;
}
.slide-leave-from {
  position: absolute;
  left: 0;
}

.fade-enter-active{
  transition: opacity 0.3s .3s ease-out;
}
.fade-leave-active {
  transition: opacity 0.3s ease-out;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
